<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.mapper.RoleMapper">
  <resultMap id="BaseResultMap" type="com.itheima.entity.Role">
  </resultMap>
  <select id="findAllRole" resultMap="BaseResultMap">
    select * from role where role_state = 1
  </select>

  <select id="findUserRoleByUid" resultMap="BaseResultMap">


    select *
    from user_role t1, role t2
    where t1.role_id = t2.role_id
    and t2.role_state=1 and t1.user_id =#{userId}



  </select>

  <select id="findRoleIdByName" resultType="java.lang.Integer">

SELECT role_id from role where role_name = #{roleName}




  </select>
</mapper>